body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:1300px;
    margin: auto;
    padding-top: 10px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo:hover {
    cursor: pointer;
}


.logo>h2 {
    margin-left: 14px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 10px;
}

.navbar>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
}

.navbar>ul>li {
    margin-left: 2rem;

}

.navbar>ul>li:first-of-type>a {
    color: #ff9900;
}

.navbar>ul>li>a {
    text-decoration: none;
    color: #111111;
    font-size: 0.9rem;
    font-weight: 600;
}

.navbar>ul>li>a:hover {
    text-decoration: underline;
}

.signup {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 24px 30px;
    border: 1px solid #111111;
    border-radius: 4px;
    background-color: #23a6f0;
}

.signup>a {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    color: #fff;
}

.main__section {
    display: flex;
    align-items: center;
    height: 520px;
    width:1300px;
    margin: auto;
}


.main__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 60%;
    padding-left:20px;
}

.main__left > div > h2 {
    font-size: 3.6rem;
    width:600px;
    margin:2px;
    font-weight: 700;
    text-transform:uppercase ;

}
.main__left > p {
    font-size: 1 rem;
    font-weight: 400;
    width: 400px;
    color: #645f5f;
    padding: 10px 10px;
    border-left: 1px solid rgb(0, 0, 0);
}
.cta {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;

}
.btn1 {
    padding: 16px 28px;
    background-color: #e95127;
    border:none;
}
.btn1 > a {
    text-decoration: none;
    font-weight: 600;
    color:#ffffff;
    font-size: 0.8rem;
}
.btn2 {
    padding: 16px 28px;
    border:1px solid black;
    background-color: #ffffff;
    margin-left: 2rem;
}

.btn2 > a {
    text-decoration: none;
    font-weight: 600;
    color:#000000;
    font-size: 0.8rem;
}

.main__right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    position:relative;
}
